<?xml version="1.0"?>

<launch>

    <!-- <param name="robot_description" command="$(find xacro)/xacro.py '$(find project_name_)/urdf/ur5_kol_robot_description.xacro'" /> -->
    <param name="robot_obj_description" command="$(find xacro)/xacro.py '$(find project_name_)/urdf/lwr4p_obj.xacro'" />
    <param name="ur_robot_description" command="$(find xacro)/xacro.py '$(find project_name_)/urdf/ur_robot.xacro'" />

    <!-- <node name="my_joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
      <remap from="robot_description" to="robot_obj_description" />
      <rosparam>
          rate: 50
          use_gui: true
      </rosparam>
    </node>
    <node name="my_robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
      <remap from="robot_description" to="robot_obj_description" />
    </node> -->

    <node name="rviz" pkg="rviz" type="rviz" respawn="false" args="-d $(find project_name_)/rviz/scene.rviz" output="screen" required="true"/>

    <node pkg="project_name_" type="project_name_" name="my_project_name_"
          output="screen" cwd="node" required="true">

        <rosparam>

          ur_robot_description: "ur_robot_description"

          robot_obj_description: "robot_obj_description"

          q0: [0.5, -0.5, 0, 1.0, 0, -1.63, 0]

          mo: 20
          Jo: [3, 3, 3]

          Ts: 0.001 # time step for the simulation

          ctrl_cycle: 4 # control cycle as a multiple of Ts

          M: [5, 5, 5, 0.5, 0.5, 0.5]
          D: [80, 80, 80, 2, 2, 2]

          use_lwr_dynamics: true

          comp_load: true

          use_gui: true

          read_wrench_from_gui: true

        </rosparam>

    </node>

</launch>
